CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
ESP32_BLE_MESH/vendor_client/build/
ESP32_BLE_MESH/vendor_server/build/
ESP32_BLE_MESH/vendor_server/dependencies.lock
ESP32_BLE_MESH/vendor_client/dependencies.lock
ESP32_BLE_MESH/vendor_client/dependencies.lock

ESP32_NOW/espnow_station/build
ESP32_NOW/espnow_node/build

flash_download_tool_3.9.7_2